---
import Navbar from "../../components/Navbar.tsx";

export async function getStaticPaths({paginate}) {
    const allRepos = Astro.fetchContent('./*.md');
    return paginate(allRepos, {repoSize: 100});
}

const {page} = Astro.props;


---

<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="/global.css">
    </head>
    <body>
        <Navbar/>
        <main>
            <div id="code-block">
                <h3>&#60;Projects&#62;</h3>
                {page.data.map((post) => (
                <h3><a href={post.url}>{post.title}</a></h3>
                <p>{post.description}</p>
                ))}
                <h3>&#60;Projects&#62;</h3>
            </div>
        </main>
        <hr/>
    <footer>
        <div>
            <a href="https://github.com/empdo">Github</a>
            <br/>
            <a href="/projects">Projects</a>
        </div>
        <h3>Emil Essung</h2>
    </footer>
    </body>
</html>
